/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'diwali';
    src: url('/assets/Anastasia.otf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'diwali';
    /* letter-spacing: 1px; */
    font-size: 3vmax;
    line-height: 3.2vmax;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* #childcanvas{
    height: 100vh !important;
    width: 100vw !important;
} */